{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <form>
            <div>
                <label>Pick Date to Report:</label>
                <input type="date">
            </div>
            <div>
                <label for="painScale">Current Pain from 1-10</label>
                <select id=painScale" name="painScale">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Submit"></div></input>
            </div>
        </form>
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}
{% endblock %}